DTD_Exercises/courses-ID.DTD

<!--In this question, you are to create a DTD for a small XML data set drawn from -->
<!--the Stanford course catalog. There are multiple departments, each with a -->
<!--department chair, some courses, and professors and/or lecturers who teach -->
<!--courses. The XML data is here.-->

<!ELEMENT Course_Catalog (Department*)> 
<!ELEMENT Department (Title, Course, Professor|Lecturer?)> 
<!ATTLIST Department Code ID #REQUIRED 
                    Chair IDREF #REQUIRED> 
<!ELEMENT Title (#PCDATA)>

<!ELEMENT Course (Title, Description?)> 
<!ATTLIST Course Number ID #REQUIRED 
    Prerequisites IDREF #IMPLIED 
    Instructors IDREF #REQUIRED 
    Enrollment CDATA #IMPLIED> 
<!ELEMENT Description (#PCDATA | Courseref)*> 
<!ELEMENT Courseref EMPTY> 
<!ATTLIST Courseref Number IDREF #REQUIRED>

<!ELEMENT Professor (First_Name, Middle_Initial?, Last_Name)> 
<!ELEMENT Lecturer (First_Name, Middle_Initial?, Last_Name)> 
<!ATTLIST Professor InstrID ID #REQUIRED> 
<!ATTLIST Lecturer InstrID ID #REQUIRED> 
<!ELEMENT First_Name (#PCDATA)> 
<!ELEMENT Middle_Initial (#PCDATA)> 
<!ELEMENT Last_Name (#PCDATA)>


